<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Bienvenido(a) {{main.user.email}}</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>

            <p class="navbar-text navbar-right"><a href="#" class="navbar-link" ng-click="main.logout()">Cerrar Sesión</a></p>

        </div>
    </div>
<div class="container">

<div class="card">
    <div class="box">
        <h2>GBM Challenge<br><span>Gráfica IPC</span></h2>
        <canvas id="line" class="chart chart-line" chart-data="main.data"
chart-labels="main.labels" chart-series="main.series" chart-options="main.options"
chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="main.colors">
    </canvas>
    </div>
</div>
</div>
