.card {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:60%;
    min-height:600px;
    background:#fff;
    -webkit-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
    transition:0.5s;
}

.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
.parent{
    display: -webkit-inline-box;
    overflow: hidden;
    width:100%;
}

div.myDiv {
    width: 200px;
    height: 200px;
    margin: 41px 189px 79px -98px;
    border: 2px solid freen;
    float:left;
    overflow: hidden;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}
div.myDiv:nth-child(even){
    margin: -100px 39px 0px -248px;
}

.myDiv img{
    width: 142%;
    height: 142%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -41px;
    
}

.myDiv img:hover {
    opacity: 0.7;
    width : 200%;
    height: 200%;
    margin: -100px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-link{
    color: #FFF;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(64, 81, 179, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(131, 143, 219, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(131, 143, 219, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(131, 143, 219, 1);
    background-color: rgba(0, 16, 120, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #001078;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #001078;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #001078;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #4051b3;
}
a{
    color:#FFF
}
.navbar-link{ margin-right:20px }